.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: #fff;
  gap: 1rem;
}

.home h1 {
  font-size: 3rem;
  font-weight: 700;
}
